<div class="container">
	<div class="row">
    <h2>Boleto emitido com Sucesso!</h2>
  </div> 
  <div class="row">
    <!-- <p>Para imprimir<a routerLink='/emitir-boleto' (click)="imprimir()" target="_blank"> tela cheia</a> -->
      <button class="btn" (click)="imprimir()">
              Imprimir <i class="fa fa-print "></i><span class="badge badge-primary"></span>
      </button>
    <img class="visible-lg img-responsive" src="../../assets/img/BoletoBancario.png" alt="boleto">
  </div>
        

        

</div>