<div class="container-fluid">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
            <table id="tableReport" class="table table-hover table-striped " *ngFor="let transacao of transacoes">
            	<tbody>
            		<tr class="media" id="carga_30" data-id="30">
            			<td class="media-left">
            				<img src={{transacao.anuncio.photo}} class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
            			</td>
            			<td class="large-body">
            				<h3 class="media-heading font-yellow text-bold hidden-xs">{{transacao.anuncio.title}}</h3>
            				<span><strong>Status: </strong> <span class="label label-info">{{transacao.estado}}</span></span>
            				<span><strong> Vendedor: </strong> {{transacao.vendedor.nome}} </span>
            				<span class="hidden-xs"><strong>Valor:</strong> R$ {{transacao.anuncio.price}} </span>
            				<span class="hidden-xs"><strong>Comprado em: </strong>{{transacao.data}}</span>
            			</td>		</tr>
            	</tbody>
            </table>
		</div>
	</div>
</div>