<div class="container" style="height: 100%;">
  <h1 class="mt-5">Carrinho</h1>
  <div class="mt-5">
    <h3 class="mt-5">Titulos adicionados ao carrinho</h3>
    <!-- LISTA DE PRODUTOS DO CARRINHO -->
    <ul class="list-group bg-light" *ngFor="let anuncio of anuncios">
      <li class="list-group-item">
        <div class="container-4  text-dark align-self-start">
          <div class="row">
            <div class="col-1">
              <img src="1.png" alt="..." class="img-thumbnail">
            </div>
            <div class="col-1" >
              <label>{{anuncios.title}}</label>
              <label>Autor</label>
              <label>Preço</label>
            </div>
            <div class="col pull-right">
              <button type="button" class="btn btn-danger pull-right">Cancelar</button>
            </div>

          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="container-4  text-dark align-self-start">
          <div class="row">
            <div class="col-1">
              <img src="2.png" alt="..." class="img-thumbnail">
            </div>
            <div class="col-1">
              <label>Titulo</label>
              <label>Autor</label>
              <label>Preço</label>
            </div>
            <div class="col pull-right">
              <button type="button" class="btn btn-danger pull-right">Cancelar</button>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <!-- FIM DA LISTA -->


    <!-- TOTAL -->
    <div class="text-center pull-md">
      <br>
      <div class="container-4 bg-light text-dark mb-5">
        <div class="row ">
          <div class="col-3">
            <label>Preço da Compra</label>
          </div>
          <div class="col-3">
            <label>$$$$$</label>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <label>Valor do Desconto</label>
          </div>
          <div class="col-3">
            <label>$$$$$</label>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <label>Preço Total</label>
          </div>
          <div class="col-3">
            <label>$$$$$</label>
          </div>
        </div>
      </div>
      <!-- BOTAO -->
      <div class="text-center">
        <br>
        <button type="submit" class="btn btn-lg btn-success mb-5">Confirmar Compra</button>
      </div>
    </div>
  </div>
</div>