

<div class="container">


  <div class="card">
    <img class="card-img-top" src="" alt="">
    <div class="card-body">

      <div class="text-center"(click)="emitirBoleto()">
        <img width="50px" height="40px" src="../../assets/icons/boleto.png" alt="">
      </div>
      <h4 class="card-title text-center">Boleto bancário</h4>
      <p class="card-text"></p>
    </div>
  </div>



  
  <div class="card mt-3">
      <img class="card-img-top" src="" alt="">
      <div class="card-body">
  
        <div class="text-center"(click)="cartaoCredito()">
          <img  width="50px" height="50px" src="../../assets/icons/payment_card.png" alt="">
        </div>
        <h4 class="card-title text-center">Cartão </h4>
        <p class="card-text"></p>
      </div>
    </div>
  
  







</div>