<!-- navbar padrão -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
       
        
    <div class=" ">
    <form class="form-inline">
      <div class="dropdown">

        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Minha conta 
      </button>
      
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="CriarAnuncio.html">Cadastrar Anúncio</a>
        <a class="dropdown-item" href="#">Transações</a>
        <a class="dropdown-item" href="AlterarDados.html">Alterar Dados Cadastrais</a>
      </div>
    </div>
  </form>
</div>

<ul class="navbar-nav ml-auto">
    <li class="nav-item">


        <div class=" ">
            <button type="button" class="btn btn-danger btn-lg">Sair</button>
        </div>


    </li>



</ul>






</nav>