<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div>
        <button class="btn btn-secondary btn-lg ml-1 mr-1" type="button" routerLink="/tela-inicial" >
          Página Inicial
        </button>
        <button class="btn btn-secondary btn-lg ml-1 mr-1" type="button" routerLink="/criar-anuncio">
          Cadastrar Anúncio
        </button>
        <button class="btn btn-secondary btn-lg ml-1 mr-1" type="button" routerLink="/minha-conta" >
          Minha conta 
        </button>
        <button class="btn btn-secondary btn-lg ml-1 mr-1" type="button" >
            Transações
        </button>
         
  </div>
  <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <div>
              <button type="button" class="btn btn-danger btn-lg">Sair</button>
          </div>
      </li>
  </ul>
</nav>