<div class="container" style="height: 100%;">
  <div>
    <div class="container">
      <h1 class="display-4">Cadastrar Anúncio <b>BazarLivros</b>
        <img src="../../assets/icons/books.png">
      </h1>
    </div>
  </div>
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Título</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">ISBN</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group col-md-2">
        <label for="inputPassword4">Valor (R$)</label>
        <input type="number" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8">
        <label for="inputPassword4">Sinopse</label>
        <textarea rows="3" class="form-control"></textarea>
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Autores</label>
        <textarea rows="3" class="form-control"></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Disponível para troca?</label>
        <div>
            <label class="radio-inline"><input type="radio" name="optradio">Sim</label>
            <label class="radio-inline"><input type="radio" name="optradio">Não</label>
        </div>
      </div>
      <div class="form-group col-md-6">
          <label>Status da Atividade</label>
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Descrição do anúncio</label>
        <textarea type="text" rows="4" class="form-control"></textarea>
      </div>
      <div class="form-group col-md-6">
        <label>Foto do anúncio</label>
        <div class="form-row">
            <div class="form-group col-md-2">
              <button type="button" class="btn btn-primary">Carregar</button>
            </div>
            <div class="form-group col-md-4 row-md-4">
              <div  class="form-control"></div>
            </div>
          </div>
      </div>
    </div>
    <div class="text-center">
      <br>
      <button type="submit" class="btn btn-lg btn-success mb-5">Cadastrar</button>
    </div>
  </form>
</div>