<div id ="carrossel">
    <div class="">
        <div class="row">
            <div class="row">
                <div class="col-md-9">
                    <h2>Ofertas de Crédito</h2>
                </div>
                <div class="col-md-11">
                    <!-- Controls -->
                    <div class="controls hidden-xs">
                        <a class="btn btn-success" href="#carousel-credito" data-slide="prev"><i class="fa fa-chevron-left"></i>Anterior</a>
                        <a class="btn btn-success" href="#carousel-credito" data-slide="next">Próximo<i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div id="carousel-credito" class="carousel slide hidden-xs" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div *ngFor="let item of linhaCarrosselInicial" class="col-sm-3">
                                <div class="col-item">
                                    <div class="photo">
                                        <img [src]="item.src" class="img-responsive" alt="a"  />
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-6">
                                                <h5 class="item-nome">{{item.descricao}}</h5>
                                                <h5 class="price-text-color">{{item.preco}}</h5>
                                            </div>
                                            <div class="rating hidden-sm col-md-6">
                                                <i class="price-text-color fa fa-star"></i>
                                                <i class="price-text-color fa fa-star"></i>
                                                <i class="price-text-color fa fa-star"></i>
                                                <i class="price-text-color fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="separator clear-left">
                                            <p class="btn-add">
                                                <i class="fa fa-shopping-cart"></i>
                                                <a href="http://www.jquery2dotnet.com" class="hidden-sm">Adicionar ao carrinho</a>
                                            </p>
                                            <p class="btn-details">
                                                <i class="fa fa-list"></i>
                                                <a href="http://www.jquery2dotnet.com" class="hidden-sm">Ver detalhes</a>
                                            </p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div *ngFor="let linhaCarrosselInicial of linhasCarrossel" class="item">
                        <div class="row">
                            <div *ngFor="let item of linhaCarrosselInicial" class="col-sm-3">
                                <div class="col-item">
                                    <div class="photo">
                                        <img [src]="item.src" class="img-responsive" alt="a" />
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-6">
                                                <h5>{{item.descricao}}</h5>
                                                <h5 class="price-text-color">{{item.preco}}</h5>
                                            </div>
                                            <div class="rating hidden-sm col-md-6">
                                                <i class="price-text-color fa fa-star"></i>
                                                <i class="price-text-color fa fa-star"></i>
                                                <i class="price-text-color fa fa-star"></i>
                                                <i class="price-text-color fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="separator clear-left">
                                            <p class="btn-add">
                                                <i class="fa fa-shopping-cart"></i>
                                                <a href="http://www.jquery2dotnet.com" class="hidden-sm">Adicionar ao carrinho</a>
                                            </p>
                                            <p class="btn-details">
                                                <i class="fa fa-list"></i>
                                                <a href="http://www.jquery2dotnet.com" class="hidden-sm">Ver detalhes</a>
                                            </p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
