<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



    <title>Criar Conta</title>
  </head>

  <body>
  
	      <!-- Capa padrão -->

      <!--  <img class="h-50 card-img-top" src="5capalivro.png" alt="Card image cap"> -->


       <div class="card bg-light text-white">
          <img class="h-50 card-img-top" src="5capalivro.png" alt="Card image">
          <div class="card-img-overlay">
             <nav class="navbar navbar-expand-lg  bg-light justify-content-end bg-transparent">
             <!-- menus -->
          
              <form class="form-inline my-2 my-lg-0">
              <div class="dropdown">
               <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Minha Conta
               </button>

               <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
               <a class="dropdown-item" href="CriarAnuncio.html">Cadastrar Anúncio</a>
               <a class="dropdown-item" href="#">Transações</a>
               <a class="dropdown-item" href="AlterarDados.html">Alterar Dados Cadastrais</a>

                
              
               </div>


               
            </div>
           </form>
          </nav>
          </div>
      </div>


	<div class="container" style="height: 100%;">
		<h2 class="mt-5">Minha Conta</h2>
		<h3 class="mt-5">Dados Cadastrais</h3>
		<div class="form-group">
		  <label for="inputAddress">Nome Completo</label>
		  <input type="text" class="form-control" id="inputAddress">
		</div>
		<div class="form-row">
		  <div class="form-group col-md-6">
			<label >Data Nascimento</label>
			<input type="date" class="form-control">
		  </div>
		  <div class="form-group col-md-6">
			<label for="inputPassword4">CPF</label>
			<input type="text" class="form-control">
		  </div>
		</div>
		<div class="form-group">
		  <label for="inputAddress2">Endereço</label>
		  <input type="text" class="form-control" >
		</div>
		<div class="form-row">
		  <div class="form-group col-md-6">
			<label >Nome de usuário</label>
			<input type="text" class="form-control">
		  </div>
		  <div class="form-group col-md-6">
			<label >Password</label>
			<input type="password" class="form-control">
		  </div>
		</div>
		<div class="form-row">
		  <div class="form-group col-md-6">
			<label >Email</label>
			<input type="email" class="form-control">
		  </div>
		  <div class="form-group col-md-6">
			<label >Telefone</label>
			<input type="text" class="form-control">
		  </div>
		</div>
		<div class="form-row">
		  <div class="form-group col-md-12">
			<label >Celular</label>
			<input type="text" class="form-control">
		  </div> 
		</div>
		<div class="form-row">
		  <h4>Opção de Pagamento</h4>  
		</div>
		<div class="text-center">
		  <br>
		  <button type="submit" class="btn btn-lg btn-success mb-5">Cadastrar</button>
		</div>
	  </form>
	</div>
	
	


</body>
</html>