<!-- 
<div class="container">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Title</h4>
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../../assets/img/1.png" [width]="alturaImagem" [height]="larguraImagem" alt="">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
    </div>
  </div>
</div> -->



<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						
						<div class="preview-pic tab-content"  >
						  <div class="tab-pane active" id="pic-1"><img class="imagemPrincipal" src="./../../assets/img/2.png" /></div>
						  <div class="tab-pane" id="pic-2"><img class="imagemPrincipal" src="./../../assets/img/2.png" /></div>
						  <div class="tab-pane" id="pic-3"><img class="imagemPrincipal" src="./../../assets/img/2.png" /></div>
						  <div class="tab-pane" id="pic-4"><img class="imagemPrincipal" src="./../../assets/img/2.png" /></div>
						  <div class="tab-pane" id="pic-5"><img class="imagemPrincipal" src="./../../assets/img/2.png" /></div>
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
						  <li class="active"><a data-target="#pic-1" data-toggle="tab"><img  src="./../../assets/img/2.png" /></a></li>
						  <li><a data-target="#pic-2" data-toggle="tab"><img  src="./../../assets/img/2.png" /></a></li>
						  <li><a data-target="#pic-3" data-toggle="tab"><img  src="./../../assets/img/2.png" /></a></li>
						  <li><a data-target="#pic-4" data-toggle="tab"><img  src="./../../assets/img/2.png" /></a></li>
						  <li><a data-target="#pic-5" data-toggle="tab"><img  src="./../../assets/img/2.png" /></a></li>
						</ul>
						
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">A Bússula de ouro </h3>
            <h4 class="price">Preço: <span>$50.30</span></h4>
            <div class="action">
            <a name="" id="" class="btn btn-primary" href="#" role="button">
              <img src="../../assets/icons/baby-carriage.png" alt="">
              Adicionar ao carrinho</a>  
            </div>

						<p class="product-description">Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</p>
<h4>Sipnose</h4>
A bússola de ouro se passa em um mundo muito parecido com o nosso - mas com algumas curiosas diferenças. Ciência e religião se confundem. Todo ser humano possui um daemon, um animal inseparável que na infância toma várias formas. E existe um raríssimo objeto que aponta a verdade, mas ninguém sabe fazê-lo funcionar. Lyra é uma menina levada que vive na tranquila cidade universitária de Oxford, na Inglaterra. Lá, crianças começam a desaparecer. E quando seu grande amigo Roger, some, Lyra parte em sua busca, disposta a desafiar seus próprios temores. Na paisagem árida do Norte, onde tenta encontrar Roger, Lyra enfrenta uma terrível conspiração que faz uso de crianças-cobaias em sinistras experiências. Entre ursos usando armadura e bruxas que sobrevoam as sombrias geleiras, Lyra terá que fazer alianças inesperadas se quiser salvar o amigo de seu trágico destino.
<h4>Nome autor</h4>
eliana sabino
<h4>Disponível para troca</h4>
disponivel
<h4>Usuário</h4>
marlovi
<h4>Descrição de anúncio </h4>
Quero trocar, recomendo muito a você

<h4>status</h4>
Disponível
<h4>ISBN</h4>
8573028424
            


				
					</div>
				</div>
			</div>
		</div>
	</div>
  