<app-nav-bar></app-nav-bar>

<div class="container">
  


  
  <!-- <h2 class="card-title">Pagina Inicial</h2> -->
  <app-carrossel-ofertas-quentes></app-carrossel-ofertas-quentes>

  <app-carrossel-ofertas-de-credito></app-carrossel-ofertas-de-credito>

  <div class="container">
    <p class="font-weight-bold"> </p>
  </div>



  <!-- Bagulete de fim de pagina com contados e tudo mais -->


  <div class="container">
    <div class="row">
      <div class="col-sm">
        <p class="font-weight-bold">Dá um like </p>
        <p class="font-weight-normal"> >>>Icone Like<<< </p> </div> <div class="col-sm">
            <p class="font-weight-bold">Segurança</p>
            <p class="font-weight-normal">Pagamento online protegido </p>
            <p class="font-weight-normal"> >>>Icone Cadeado<<< </p> </div> <div class="col-sm">
                <p class="font-weight-bold">Quem Somos</p>
                <p class="font-weight-bold">Bazer livros Tecnologia S.A.</p>
                <p class="font-weight-normal">CNPJ 12.345.678/0001-23</p>
                <p class="font-weight-normal">Rua Rua rua, 12</p>
                <p class="font-weight-normal">75012-345</p>
                <p class="font-weight-normal">Centro - Rio Verde, GO </p>

      </div>
    </div>
  </div>

  <!--  -->

  <!--  ***********   -->
</div>
