<div class="container" style="height: 100%;">
  <div class="">
    <h1 class="mt-5">Minha Conta</h1>
  </div>
  <form class="">
    <div class="form-row">
      <div class="form-group col-md-8">
        <label>Nome Completo</label>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" id="input_editar_nome_completo" class="form-control" value="Marcelo Alverado Costa"
              disabled>
          </div>
          <div class="form-group col-md-2">
            <button type="button" id="button_editar_nome_completo" onclick="
                    if(getElementById('input_editar_nome_completo').disabled){
                      getElementById('input_editar_nome_completo').disabled = false
                      getElementById('button_editar_nome_completo').innerHTML = 'Editando'
                    }else{
                      getElementById('input_editar_nome_completo').disabled = true
                      getElementById('button_editar_nome_completo').innerHTML = 'Editar'
                    } " class="btn btn-primary">Editar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label>Data Nascimento</label>
        <div class="form-row">
          <div class="form-group col-md-8">
            <input type="date" id="input_editar_data_nascimento" class="form-control" value="2013-01-08" disabled>
          </div>
          <div class="form-group col-md-2">
            <button type="button" id="button_editar_data_nascimento" onclick="
                    if(getElementById('input_editar_data_nascimento').disabled){
                      getElementById('input_editar_data_nascimento').disabled = false
                      getElementById('button_editar_data_nascimento').innerHTML = 'Editando'
                    }else{
                      getElementById('input_editar_data_nascimento').disabled = true
                      getElementById('button_editar_data_nascimento').innerHTML = 'Editar'
                    }" class="btn btn-primary">Editar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputPassword4">CPF</label>
        <div class="form-row">
          <div class="form-group col-md-8">
            <input type="text" id="input_editar_cpf" class="form-control" value="245.763.123-78" disabled>
          </div>
          <div class="form-group col-md-2">
            <button type="button" id="button_editar_cpf" onclick="
                    if(getElementById('input_editar_cpf').disabled){
                      getElementById('input_editar_cpf').disabled = false
                      getElementById('button_editar_cpf').innerHTML = 'Editando'
                    }else{
                      getElementById('input_editar_cpf').disabled = true
                      getElementById('button_editar_cpf').innerHTML = 'Editar'
                    }" class="btn btn-primary">Editar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Endereço</label>
        <div class="form-row">
          <div class="form-group col-md-8">
            <input type="text" id="input_editar_endereco" class="form-control" value="Rua dos Alfineiros" disabled>
          </div>
          <div class="form-group col-md-2">
            <button type="button" id="button_editar_endereco" onclick="
                        if(getElementById('input_editar_endereco').disabled){
                          getElementById('input_editar_endereco').disabled = false
                          getElementById('button_editar_endereco').innerHTML = 'Editando'
                        }else{
                          getElementById('input_editar_endereco').disabled = true
                          getElementById('button_editar_endereco').innerHTML = 'Editar'
                        }" class="btn btn-primary">Editar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Nome de usuário</label>
        <div class="form-row">
          <div class="form-group col-md-8">
            <input type="text" id="input_editar_nome_usuario" class="form-control" value="MarceloPS" disabled>
          </div>
          <div class="form-group col-md-2">
            <button type="button" id="button_editar_nome_usuario" onclick="
                    if(getElementById('input_editar_nome_usuario').disabled){
                          getElementById('input_editar_nome_usuario').disabled = false
                          getElementById('button_editar_nome_usuario').innerHTML = 'Editando'
                        }else{
                          getElementById('input_editar_nome_usuario').disabled = true
                          getElementById('button_editar_nome_usuario').innerHTML = 'Editar'
                        }" class="btn btn-primary">Editar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Password</label>
        <div class="form-row">
          <div class="form-group col-md-8">
            <input type="password" id="input_editar_senha" class="form-control" value="12345678" disabled>
          </div>
          <div class="form-group col-md-2">
            <button type="button" id="button_editar_senha" onclick="
                      if(getElementById('input_editar_senha').disabled){
                          getElementById('input_editar_senha').disabled = false
                          getElementById('button_editar_senha').innerHTML = 'Editando'
                        }else{
                          getElementById('input_editar_senha').disabled = true
                          getElementById('button_editar_senha').innerHTML = 'Editar'
                        }" class="btn btn-primary">Editar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Email</label>
        <div class="form-row">
          <div class="form-group col-md-8">
            <input type="email" id="input_editar_email" class="form-control" value="marcelo123@hotmail.com" disabled>
          </div>
          <div class="form-group col-md-2">
            <button type="button" id="button_editar_email" onclick="
                    if(getElementById('input_editar_email').disabled){
                          getElementById('input_editar_email').disabled = false
                          getElementById('button_editar_email').innerHTML = 'Editando'
                        }else{
                          getElementById('input_editar_email').disabled = true
                          getElementById('button_editar_email').innerHTML = 'Editar'
                        }" class="btn btn-primary">Editar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Telefone</label>
        <div class="form-row">
          <div class="form-group col-md-8">
            <input type="text" id="input_editar_telefone" class="form-control" value="(64) 3642-2389" disabled>
          </div>
          <div class="form-group col-md-2">
            <button type="button" id="button_editar_telefone" onclick="
                      if(getElementById('input_editar_telefone').disabled){
                          getElementById('input_editar_telefone').disabled = false
                          getElementById('button_editar_telefone').innerHTML = 'Editando'
                        }else{
                          getElementById('input_editar_telefone').disabled = true
                          getElementById('button_editar_telefone').innerHTML = 'Editar'
                        }" class="btn btn-primary">Editar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Celular</label>
        <div class="form-row">
          <div class="form-group col-md-8">
            <input type="text" id="input_editar_celular" class="form-control" value="(64) 9 9213-4521" disabled>
          </div>
          <div class="form-group col-md-2">
            <button type="button" id="button_editar_celular" onclick="
                    if(getElementById('input_editar_celular').disabled){
                          getElementById('input_editar_celular').disabled = false
                          getElementById('button_editar_celular').innerHTML = 'Editando'
                        }else{
                          getElementById('input_editar_celular').disabled = true
                          getElementById('button_editar_celular').innerHTML = 'Editar'
                        }" class="btn btn-primary">Editar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6    ">
        <label>Forma de pagamento</label>
        <div class="form-row">
          <div class="form-group col-md-8">
            <select class="custom-select" disabled id="select_editar_formas_pagamentos">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <button type="button" id="button_editar_formas_pagamentos" onclick="
                      if(getElementById('select_editar_formas_pagamentos').disabled){
                          getElementById('select_editar_formas_pagamentos').disabled = false
                          getElementById('button_editar_formas_pagamentos').innerHTML = 'Editando'
                        }else{
                          getElementById('select_editar_formas_pagamentos').disabled = true
                          getElementById('button_editar_formas_pagamentos').innerHTML = 'Editar'
                        }" class="btn btn-primary">Editar</button>
          </div>
        </div>

      </div>
    </div>
    <div class="text-center">
      <br>
      <button type="submit" class="btn btn-lg btn-success mb-5">Cadastrar</button>
    </div>
  </form>
</div>