<div class="bg-dark text-light mt-5 p-3">
    
    <div class="container">

  <p class="font-weight-bold ml-2">Dá um like </p>
    </div>
        <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <ul class="social-icons-ql">
         <li><a href="#"><i class="fa fa-facebook"></i></a></li>
         <li><a href="#"><i class="fa fa-twitter"></i></a></li>
         <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
           <li><a href="#"><i class="fa fa-reddit"></i></a></li>
           <li><a href="#"><i class="fa fa-stumbleupon"></i></a></li>
         
         </ul>
         </div>
        
        </div>
  
  <div class="container">
    <div class="row">
      <div class="col-sm">
          <p class="font-weight-bold">Segurança</p>
          <p class="font-weight-normal">Pagamento online protegido <i class="fa fa-lock"></i></p>
          <p class="font-weight-normal">  </p> </div> 
          <div class="col-sm">
            <p class="font-weight-bold">Quem Somos</p>
            <p class="font-weight-bold">Bazer livros Tecnologia S.A.</p>
            <p class="font-weight-normal">CNPJ 12.345.678/0001-23</p>
            <p class="font-weight-normal">Rua Rua rua, 12</p>
            <p class="font-weight-normal">75012-345</p>
            <p class="font-weight-normal">Centro - Rio Verde, GO </p>
            
          </div>
        </div>
      </div>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </div>


    